A password reset was requested for #{@user.login} by #{@request_ip}. If you requested the reset, you have 72 hours to click the reset link or it will expire.
\--------------------------------------------------------
Enter the below URL into your browser and you will be able to enter a new password.
= "\n"
#{@reset_url}
